# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.production

# Build output
dist/
build/

# Uploads
backend/src/uploads/images/*
backend/src/uploads/videos/*
!backend/src/uploads/images/.gitkeep
!backend/src/uploads/videos/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
